### Imports

In [1]:
from selenium import webdriver
import pandas as pd 
import sqlalchemy

ModuleNotFoundError: No module named 'selenium'

#### initialization

In [22]:
# store url
url = 'https://worldpopulationreview.com/countries'

# initialize ChromeDriver
driver = webdriver.Chrome('C:/webdriver/chromedriver.exe')


# open url
driver.get(url)

# maximize window
driver.maximize_window()

# agree
agree = driver.find_element_by_xpath('//button[@class=" css-47sehv"]')

try:
    agree.click()
except:
    pass

#### Scraping Part

In [23]:
# countries
countries = driver.find_elements_by_xpath('//div[@class="datatable-container undefined"]//tbody/tr/td[2]')

# population 2021
population_2021 = driver.find_elements_by_xpath('//div[@class="datatable-container undefined"]//tbody/tr/td[3]')

# population 2020
population_2020 = driver.find_elements_by_xpath('//div[@class="datatable-container undefined"]//tbody/tr/td[4]')

# growth rate
growth_rate = driver.find_elements_by_xpath('//div[@class="datatable-container undefined"]//tbody/tr/td[5]')

# area
area = driver.find_elements_by_xpath('//div[@class="datatable-container undefined"]//tbody/tr/td[6]')

# density
density = driver.find_elements_by_xpath('//div[@class="datatable-container undefined"]//tbody/tr/td[7]')

In [17]:
density[10].text.split('/')[0]

'334'

In [24]:
# dataframe building
df_population = pd.DataFrame(columns=['Countries', 'Population_2021', 'Population_2020',
                                     'Growth_Rate', 'Area', 'Density_km²'])

In [25]:
df_population

Empty DataFrame
Columns: [Countries, Population_2021, Population_2020, Growth_Rate, Area, Density_km²]
Index: []

In [27]:
for i in range(len(countries)):
    df_population = df_population.append({'Countries':countries[i].text, 'Population_2021': population_2021[i].text,
                                         'Population_2020':population_2020[i].text, 'Growth_Rate':growth_rate[i].text,
                                         'Area':area[i].text, 'Density_km²':density[i].text.split('/')[0]}, ignore_index=True)

In [28]:
df_population

,Countries,Population_2021,Population_2020,Growth_Rate,Area,Density_km²
0,China,"1,444,216,107","1,439,323,776",0.34%,"9,706,961",149
1,India,"1,393,409,038","1,380,004,385",0.97%,"3,287,590",424
2,United States,"332,915,073","331,002,651",0.58%,"9,372,610",36
3,Indonesia,"276,361,783","273,523,615",1.04%,"1,904,569",145
4,Pakistan,"225,199,937","220,892,340",1.95%,"881,912",255
...,...,...,...,...,...,...
200,San Marino,"34,017","33,931",0.25%,61,558
201,Palau,"18,169","18,094",0.41%,459,40
202,Tuvalu,"11,931","11,792",1.18%,26,459
203,Nauru,"10,876","10,824",0.48%,21,518
204,Vatican City,800,801,-0.12%,1,800

#### export of the data

In [32]:
# csv
df_population.to_csv('population.csv', sep=';', encoding='utf-8-sig', index=False)

In [33]:
# excel
df_population.to_excel('population_excel.xlsx', index=False)

In [34]:
# json
df_population.to_json('population_json.json', orient='records', lines=True, force_ascii=False)

In [35]:
# postgresql
engine = sqlalchemy.create_engine('postgres://postgres:12345@localhost:5432')
df_population.to_sql('population', engine, index=False)