In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import sqlalchemy

### HTTP Request

#### store website in variable

In [3]:
# url
url = 'https://www.skyscrapercenter.com/buildings'

In [4]:
response = requests.get(url)

#### status code

In [5]:
response

### Soup Object

In [6]:
soup = BeautifulSoup(response.content, 'html.parser')

In [7]:
# soup

### Results

In [8]:
# starting point
results = soup.find('table', {'id':'buildingsTable'}).find('tbody').find_all('tr')

In [9]:
len(results)

100

### Find your Data

In [10]:
# name
results[0].find_all('td')[1].get_text().strip()

'Burj Khalifa'

In [11]:
# city
results[0].find_all('td')[2].get_text().strip()

'Dubai'

In [23]:
# completion_year
results[0].find_all('td')[4].get_text().strip()

'2010'

In [39]:
# height
results[0].find_all('td')[5].find_all('p')[0].get_text()

'828 m'

In [40]:
# floors
results[0].find_all('td')[6].get_text().strip()

'163'

In [41]:
# material
results[0].find_all('td')[7].get_text().strip()

'steel/concrete'

In [44]:
# function
results[0].find_all('td')[8].get_text().strip()

'office / residential / hotel'

#### put everything together - For Loop

In [12]:
name = []
city = []
completion_year = []
height = []
floors = []
material = []
function = []

for i in results:
    
    # name
    name.append(i.find_all('td')[1].get_text().strip())
    
    # city
    city.append(i.find_all('td')[2].get_text().strip())
    
    # completion year
    completion_year.append(i.find_all('td')[4].get_text().strip())
    
    # height 
    height.append(i.find_all('td')[5].find_all('p')[0].get_text())
    
    # floors
    floors.append(i.find_all('td')[6].get_text().strip())
    
    # material
    material.append(i.find_all('td')[7].get_text().strip())
    
    # function
    function.append(i.find_all('td')[8].get_text().strip())

In [13]:
#### Pandas Dataframe
df_buildings = pd.DataFrame({'name':name, 'city':city, 'completion_year':completion_year,
                           'height':height, 'floors':floors, 'material':material, 'function':function})

In [14]:
df_buildings

,name,city,completion_year,height,floors,material,function
0,Burj Khalifa,Dubai,2010,828 m,163,steel/concrete,office / residential / hotel
1,Shanghai Tower,Shanghai,2015,632 m,128,composite,hotel / office
2,Makkah Royal Clock Tower,Mecca,2012,601 m,120,steel/concrete,hotel / residential / retail
3,Ping An Finance Center,Shenzhen,2017,599.1 m,115,composite,office
4,Lotte World Tower,Seoul,2017,554.5 m,123,composite,hotel / residential / office / retail
...,...,...,...,...,...,...,...
95,Wilshire Grand Center,Los Angeles,2017,335.3 m,62,composite,hotel / office
96,DAMAC Heights,Dubai,2018,335.1 m,88,concrete,residential
97,"Twin Towers Guiyang, East Tower",Guiyang,2020,335 m,74,composite,office
98,"Twin Towers Guiyang, West Tower",Guiyang,2020,335 m,74,composite,hotel / office
99,Shimao International Plaza,Shanghai,2006,333.3 m,60,concrete,hotel / office / retail

#### Export

In [15]:
# csv
df_buildings.to_csv('buildings.csv',sep=';',encoding='utf-8-sig', index=False)

In [16]:
# excel
df_buildings.to_excel('buildings.xlsx',index=False)

In [54]:
# json
df_buildings.to_json('buildings.json', orient='records', lines=True,force_ascii = False)

In [55]:
# postgresql
engine = sqlalchemy.create_engine('postgres://postgres:12345@localhost:5432')
df_buildings.to_sql('buildings', engine, index=False)